@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --tertiary: #2e86c1;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
}

.bg-primary,
.btn-primary {
    background-color: var(--tertiary) !important;
}

.bg-secondary,
.btn-secondary {
    background-color: var(--secondary) !important;
}

.bg-tertiary,
.btn-tertiary {
    background-color: var(--tertiary) !important;
}

.bg-success,
.btn-success {
    background-color: var(--success) !important;
}

.bg-info,
.btn-info {
    background-color: var(--info) !important;
}

.bg-warning,
.btn-warning {
    background-color: var(--warning) !important;
}

.bg-danger .btn-danger {
    background-color: var(--danger) !important;
}

.nav-link {
    color: var(--secondary) !important;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.nav-link:hover {
    color: var(--warning) !important;
}

.bold-700 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 24px;
}

.light-300 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #605c59;
}

.regular-body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #434343;
}

.form-control {
    width: 430px;
    height: 58px;
    left: 585px;
    top: 342px;
    font-family: "Merriweather", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.react-link {
    color: #333333;
    text-decoration: none;
}

/* pagina do post */
.bold-700-title {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 57.82px;
    color: #000000;
}

.body {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

.h6 {
    height: 22px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #3e3e3e;
}

.pagination {
    --bs-pagination-active-bg: #000638;
    --bs-pagination-active-border-color: #000638;
}

@media screen and (max-width: 1024px) {
    .bold-700 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .bold-700 {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .form-control {
        width: 85vw;
    }

    .mx-auto {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .bold-700-title {
        font-size: 36px;
    }

    .pagination {
        --bs-pagination-padding-x: 0.85rem;
        --bs-pagination-padding-y: 0.50rem;
        --bs-pagination-font-size: 1rem;
        --bs-pagination-border-radius: 0.5rem;
    }

    .p-5 {
        padding: 0.5rem!important;
    }
}

@media screen and (max-width: 375px) {
    .light-300 {
        font-size: 35px;
    }

    .bold-700-title {
        font-size: 20px;
    }

    .pagination {
        --bs-pagination-padding-x: 0.6rem;
    }
}